#companies {
  margin-top: 6rem;
}

#companies h1 {
  font-size: 3.2rem;
  font-weight: 600;

  color: var(--title);

  margin-bottom: 3rem;
}

#companies div a img {
  width: 12rem;

  margin-right: 2.4rem;

  border-radius: 2rem;
}
